html, body {
  height: 100%;
  width: 100%;
  background-color: #ffffcc ;
  font-family: Sans-Serif;
}

#buttons {
  background-color: #dbb25c;
  border: 1px;
  border-style: solid;
  
  width: 30%;
  height: 10%;
  
  text-align: center;
  
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  margin: auto;

h3 {
  font-family: Sans-Serif;
}